body{
    background-color: black;
}
.container{
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-family: Poppins;
}

.menuImg{
    width: 3%;
    height: 3%;
}

.header{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu{
    display: flex;
    width: 100%;
}

.menu li{
    list-style-type: none;
    margin: 0 3%;
}

a{
    text-decoration: none;
    color: white;
}

.fontti {
    font-size: 1.2rem;
    padding: 8px;
}



.kuvat-kaksi {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.kuvat-kaksi > * {
    flex-basis: 0px;
    flex-grow: 1; 
}

/* kuvien määritykset */

figure {
    width: 100%;
   /* border: black solid 1px; */

}    
figure img {
    max-width: 50%;
    padding: 0.1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.1rem;
    border: 2px dashed blueviolet;
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
  
}






#teatteri {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px blueviolet;
    -ms-transform: rotate(-3deg); 
    -webkit-transform: rotate(-3deg); 
    transform: rotate(-3deg);
  }
  
  #teatteri td, #teatteri th {
    border: 2px dashed blueviolet;
    padding: 8px;
    border-left: hidden;
    border-right: hidden;
  }
  
  #teatteri tr:nth-child(even){background-color: #201f1f;}
  
  #teatteri tr:hover {
    background-color: darkgrey;
    color: black;

}
  


.footer{
    margin-top: 2rem;
    display: flex;
    font-size: 1rem;
    color: gray;
}

.footer > *
{
    flex-grow: 1;
}

.footer a{
    font-size: 1rem;
    color: gray;
}

.footer i{
    padding-right: 25px;
    padding-left: 25px;
}

.footer h3{
    font-size: 1.2rem;
    color: white;
    margin-bottom: 0.5rem;
}

.teaterista, .linkki, .asiakaspalvelu{
    text-align: center;
    margin-bottom: 1rem;
}

.linkki{
    font-size: 1.5rem;
}

.map{
    width: 52%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.title-map{
    color: blueviolet;
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid blueviolet;
    border-style: dashed;
}

@media only screen and (max-width: 1250px) {
    .container{
        width: 90%;
    }
    
    .menuImg{
        width: 4%;
    }

}

@media only screen and (max-width: 768px) {
    .container{
        width: 90%;
    }
    
    .menuImg{
        width: 4%;
    }
}

@media only screen and (max-width: 426px) {
    .container{
        width: 90%;
    }

    .menu{
        display: none;
        font-size: 0.8rem;
    }

    .menuImg{
        width: 15%;
        margin-left: auto;
        margin-right: auto;
    }

    .footer{
        display: block;
    }

    .footer a{
        font-size: 0.8rem;
    }

    .linkki{
        margin-left: auto;
        margin-right: auto;
    }

    .footer h3{
        font-size: 0.8rem;
    }
}

