html {
    font-size: 62.5%;
}
body {
  /*  font-family: Arial, Helvetica, sans-serif; */
  font-family: Poppins;
    padding: 1rem;
    background-color: black;
}

/* HEADER NAViPALKKi */


.container{
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-family: Poppins;
}
.menuImg:hover{
    color: blueviolet;
}
.menu li:hover{
    cursor: pointer;
}
.menu a:hover{
    color: blueviolet;
}


.header{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: xx-large;
}
.ylalinks {
    
    font-size: 2.2rem;
    text-decoration: none;  
}
.menu{
    display: flex;
    width: 100%;
}
.menu li{
    list-style-type: none;
    margin: 0 3%;
}

/*Hambuurger Menu*/

.topnav #myLinks {
    display: none;
  }


  .topnav a {
   
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  /* Add a grey blueviolet color on mouse-over */
.topnav a:hover {
    background-color: blueviolet;
    color: black;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
    position: sticky;
  }








/* FONT AWESOMEN IKONIT */
.fa-circle-right{
    font-size: 30px;
    padding: 0.5rem;
}

.fa-circle-plus {
    font-size: 30px;
   /* color: blueviolet; */
    padding: 0.5rem;
}

/* linkkimuotoilut */
a {
    
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

a:visited {
    color: whitesmoke;
}



.yellow {
    color: yellow;
}

/*
a:hover {
    font-size:22px;
    color: gold;
 } */

.wrapper {
    background-color: black;
    padding-top: 7px;
    border: 1px solid rgb(0, 0, 0);
}


h1{
    color: antiquewhite;
}

h2 {
    font-size: 1.4rem;
    color: rgb(239, 244, 230);
    padding-left: 10px;
    padding-top: 5px;

}

h3 {
    font-size: 2.2rem;
    color: rgb(239, 244, 230);
    padding-bottom: 5px;

}

h4 
{
    font-size: 0.7rem;
    color: rgb(239, 232, 232);
    padding-bottom: 5px;
}

/* kuvien määritykset */

figure {
    width: 100%;
   /* border: black solid 1px; */

}    
figure img {
    max-width: 100%;
    padding: 0.1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.1rem;
    border-radius: 10px 10px 5px 5px;   
}

/* Boxit */
/* FLEXILLÄ */

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.8rem;
    padding: 5px;
   
    
  /* border: solid 1px black; */ 
}

/*
.box10, .box11, .box12
{
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    background-color:black; 
}

*/

/* BOKSIEN HEADIN SÄÄTÖ VIEREKKÄIN */

.boxes-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.boxes-header > * {
    flex-basis: 0px;
    flex-grow: 1; 
}

.ikarajat {
    max-width: 20%;
}

/* eka boksi leffeteatterin nimi ja logo */
.box1
{
    border: solid 1px white;
    border-radius: 20px 20px 20px 20px;
  /* background-color: #530669; */
    color: white;
    background-image: -webkit-gradient(
	linear,
	right top,
	right bottom,
	color-stop(0.5, rgb(84, 6, 105)),
	color-stop(0.8, rgb(0, 0, 0))
);
background-image: -o-linear-gradient(bottom, rgb(84, 6, 105) 50%, rgb(0, 0, 0) 80%);
background-image: -moz-linear-gradient(bottom, rgb(84, 6, 105) 50%, rgb(0, 0, 0) 80%);
background-image: -webkit-linear-gradient(bottom, rgb(84, 6, 105) 50%, rgb(0, 0, 0) 80%);
background-image: -ms-linear-gradient(bottom, rgb(84, 6, 105) 50%, rgb(0, 0, 0) 80%);
background-image: linear-gradient(to bottom, rgb(84, 6, 105) 50%, rgb(0, 0, 0) 80%);
}

.box1:hover {
    border: dashed 1px fuchsia;
}

/* tänään choose movie box */
.box2
{
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(71, 187, 187);
    color: black;
}
.box2:hover {
    border: dashed 1px fuchsia;
}

/* all movies boxi */

.box3
{
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    background-color: black;
    color: white;
}
.box3:hover {
    border: dashed 1px fuchsia;
}

/* the lost king box */
.box4
{
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    background-color: #530669;
}
.box4:hover {
    border: dashed 1px fuchsia;
}

/* jaws boxi */
.box5
{
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    background-color: black;
}
.box5:hover {
    border: dashed 1px fuchsia;
}

/* 6 */
.box6
{
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    background-color: black;
}
.box6:hover {
    border: dashed 1px fuchsia;
}

/* movie box */
.box7
{
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    background-color: #530669;
}
.box7:hover {
    border: dashed 1px fuchsia;
}

/* movie 5#  */
.box8
{
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(71, 187, 187);
    color: black;
}
.box8:hover {
    border: dashed 1px fuchsia;
}


/* about us boxi */
.box9
{
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    /*background-color: black;*/
    color: white;
    background-image: -webkit-gradient(
	linear,
	right top,
	right bottom,
	color-stop(0.5, rgb(84, 6, 105)),
	color-stop(0.8, rgb(0, 0, 0))
);
background-image: -o-linear-gradient(bottom, rgb(84, 6, 105) 50%, rgb(0, 0, 0) 80%);
background-image: -moz-linear-gradient(bottom, rgb(84, 6, 105) 50%, rgb(0, 0, 0) 80%);
background-image: -webkit-linear-gradient(bottom, rgb(84, 6, 105) 50%, rgb(0, 0, 0) 80%);
background-image: -ms-linear-gradient(bottom, rgb(84, 6, 105) 50%, rgb(0, 0, 0) 80%);
background-image: linear-gradient(to bottom, rgb(84, 6, 105) 50%, rgb(0, 0, 0) 80%);
}
.box9:hover {
    border: dashed 1px fuchsia;
}

/* coming new box */
.box10
{
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
   /* background-color: rgba(240, 46, 170); */
    color: white;
    background-image: -webkit-gradient(
	linear,
	right top,
	right bottom,
	color-stop(0.2, rgb(240, 46, 169)),
	color-stop(0.8, rgb(0, 0, 0))
);
background-image: -o-linear-gradient(bottom, rgb(240, 46, 169) 20%, rgb(0, 0, 0) 80%);
background-image: -moz-linear-gradient(bottom, rgb(240, 46, 169) 20%, rgb(0, 0, 0) 80%);
background-image: -webkit-linear-gradient(bottom, rgb(240, 46, 169) 20%, rgb(0, 0, 0) 80%);
background-image: -ms-linear-gradient(bottom, rgb(240, 46, 169) 20%, rgb(0, 0, 0) 80%);
background-image: linear-gradient(to bottom, rgb(240, 46, 169) 20%, rgb(0, 0, 0) 80%);
}
.box10:hover {
    border: dashed 1px fuchsia;
}




.box11
{
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(240, 46, 170);
    color: black;

    background-image: -webkit-gradient(
        linear,
        right top,
        right bottom,
        color-stop(0.2, rgb(240, 46, 169)),
        color-stop(0.8, rgb(0, 0, 0))
    );
    background-image: -o-linear-gradient(bottom, rgb(240, 46, 169) 20%, rgb(0, 0, 0) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(240, 46, 169) 20%, rgb(0, 0, 0) 80%);
    background-image: -webkit-linear-gradient(bottom, rgb(240, 46, 169) 20%, rgb(0, 0, 0) 80%);
    background-image: -ms-linear-gradient(bottom, rgb(240, 46, 169) 20%, rgb(0, 0, 0) 80%);
    background-image: linear-gradient(to bottom, rgb(240, 46, 169) 20%, rgb(0, 0, 0) 80%);
    
}
.box11:hover {
    border: dashed 1px fuchsia;
}

.box12
{
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    background-color: #530669;
}
.box12:hover {
    border: dashed 1px fuchsia;
}





.boxes > * {  
    flex-grow: 1;
    flex-basis: 100%;
    padding: 15px;

    box-shadow:
    rgba(240, 46, 170, 0.4) 0px 5px, 
    rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, 
    rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
  
}

p {
    color: darkgray;
    font-size: 1.1rem;
    
}

.p-black {
    color:black;
}

.p-black-center {
    color:black;
    text-align: center;
    padding-bottom: 2%;
}

.p-white-center {
    color: white;
    text-align: center;
    padding-bottom: 2%;
}

.white-line {

    border-top: 1px dashed white;
    padding-bottom: 4px;
}

/* napit */
.btnstyle-fuchsia-b {
    cursor: pointer;
    border: 1px solid fuchsia;
    background-color: transparent;
    height: 20px;
    width: 90px;
    color:white;
    font-size: 1rem;
    box-shadow: 
    0 6px 6px rgba(0, 0, 0, 0.8),
    0 12px 12px rgba(0, 0, 0, 0.6);

}
.btnstyle-fuchsia-b:hover{
    background-color: black;
}

.btnstyle-fuchsia-w {
    cursor: pointer;
    border: 1px solid fuchsia;
    background-color: transparent;
    height: 20px;
    width: 90px;
    color:white;
    font-size: 1rem;
    box-shadow: 
    0 6px 6px rgba(240, 46, 170, 0.8);

}
.btnstyle-fuchsia-w:hover{
    background-color: rgba(240, 46, 170, 0.8);
}



.p-black-backround {
    display: table; /* keep the background color wrapped tight */
   /* margin: 0px auto 0px auto;  keep the table centered */
    padding:7px;background-color:black;color:#ffffff;
    
}

/* Ostonappi ja info */

.ostosalue {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.ostosalue > * {
    flex-basis: 0px;
    flex-grow: 1;
    
}




/* Tablet näytön css-säännöt */
@media only screen and (min-width: 426px) {
    body {
      background-color:black;
    }

    .topnav a {
        display: none;
      }

    /*
    .boxes {
        width: auto;
    }
 
    .box1, .box2, .box3, .box4, .box5, .box6,
    .box7, .box8, .box9, .box10, .box11, .box12
    {
        display: flex;
        flex-direction: column;
        flex-basis: 100px;
        flex-wrap: nowrap;
        flex-grow: 1;
    }
    */

     /* tässä menee boxit 2 vierekkäin tabletissa */

    .boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 43vw);
        grid-gap: 1rem; 
        width: 60%;
        margin: 2rem auto; 
      }
      .kuva {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; 
      }

 

    }

/* Desktop säännöt */
 /* Desktop-näkymän css-säännöt */
 @media only screen and (min-width: 769px) {
    body {
      background-color: black;
    }




   

    
   

         /* tässä menee boxit 4 vierekkäin desktopipissa */

         .boxes {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 28vw);
            grid-gap: 1.5rem; 
            width: 80%;
            /*margin: 2rem auto; */
            margin-left: 5%;
            
          }
          .kuva {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block; 
          }

  }    


 /* FOOTER */
 
 .footer{
    margin-top: 2rem;
    margin-right: 5%;
    display: flex;
    font-size: 1rem;
    color: gray;
}

.footer > *
{
    flex-grow: 1;
}

.footer a{
    font-size: 1rem;
    color: gray;
}

.footer li:hover{
    cursor: pointer;
}

.footer a:hover{
    color: blueviolet;
}



.footer i{
    padding-right: 25px;
    padding-left: 25px;
}

.footer h3{
    font-size: 1.2rem;
    color: white;
    margin-bottom: 0.5rem;
}

.teaterista, .linkki, .asiakaspalvelu{
    text-align: center;
    margin-bottom: 1rem;
}

.linkki{
    font-size: 1.5rem;
}


@media only screen and (max-width: 1250px) {
    .container{
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .container{
        width: 90%;
    }
}

@media only screen and (max-width: 426px) {
    .container{
        width: 90%;
    }

    .menu{
        display: none;
        font-size: 0.8rem;
    }

    .menuImg{
        margin-left: auto;
        margin-right: auto;
    }

    .footer{
        display: block;
    }

    .footer a{
        font-size: 0.8rem;
    }

    .linkki{
        margin-left: auto;
        margin-right: auto;
    }

    .footer h3{
        font-size: 0.8rem;
    }
}
